main {
	display: flex;
}

aside {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 95vh;
	border: 1px solid;
}

span.utente {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	justify-self: flex-end;
	align-items: center;
	border: 1px solid blue;
}

span.utente img {
	transform: scale(0.4, 0.4);
}

img[alt="Develhope"] {
	border: 1px solid;
}

p {
	border: 1px solid;
}