:root {
	--raggio-bordo: 20px;
}

main {
	width: 40vw;
	height: 80vh;
	border-radius: var(--raggio-bordo);
	border: none;
	display: flex;
	flex-direction: column;
	margin: 20px;
}

input#operazione {
	margin: 0px;
	height: 4vh;
	border: none;
	border-radius: var(--raggio-bordo) var(--raggio-bordo) 0px 0px;
	text-align: right;
	background-color: rgb(57, 67, 72);
	padding: 1rem;
	font-size: 2rem;
	color: white;
}

div.tastiera {
	display: grid;
	grid-template-columns:repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	border: none;
	flex-grow: 1;
}

button {
	font-size: 1.7rem;
	border: 1px solid rgb(123, 146, 163);
}

button.operatore {
	background-color: rgb(203, 215, 223);
}


button#uguale {
	grid-row-start: 2;
	grid-column-start: 4;
	grid-row-end: 6;
	background-color: rgb(255, 101, 110);
}

button.rig-99 {
	border-bottom: none;
}

button.col-1 {
	border-left: none;
}

button.col-99 {
	border-right: none;
}

button.rig-99.col-1 {
	border-bottom-left-radius: var(--raggio-bordo);
}

button.rig-99.col-99 {
	border-bottom-right-radius: var(--raggio-bordo);
}