<div class="background vw-100 vh-100 d-inline-flex justify-content-center align-items-center">
  <div *ngIf="pokemon.id >= 1" class="container d-flex flex-column p-0" [ngClass]="'tame-status-' + tameStatus">
    <div class="header w-100 d-flex flex-row justify-content-center m-4"><h1>#{{pokemon.id}} {{pokemon.name | titlecase}}</h1></div>
    <div class="body w-100 m-0 d-flex flex-row justify-content-between overflow-hidden">
      <div id="pokemon" class="h-100 d-flex flex-column align-items-center">
        <div id="img">
          <img *ngIf="pokemon.sprites.other.dream_world.front_default" src="{{pokemon.sprites.other.dream_world.front_default}}" alt="" class="svg w-100">
          <img *ngIf="!pokemon.sprites.other.dream_world.front_default" src="{{pokemon.sprites.front_default}}" alt="" class="png">
        </div>
        <div id="poke-types" class="d-flex flex-row flex-wrap justify-content-between p-2">
          <div *ngFor="let type of pokemon.types" class="poke-types d-flex flex-row justify-content-center align-items-center" [ngClass]="'poke-type-' + type.type.name">
            {{type.type | translateName:"it" | async | uppercase}}
          </div>
        </div>
      </div>
      <div id="stats" class="data d-flex flex-column p-0 overflow-hidden">
        <div class="header p-2"><h4>Statistiche</h4></div>
        <div class="list d-flex flex-column ps-2 pt-5 overflow-auto">
          <div *ngFor="let stat of pokemon.stats" class="item">
            <div>{{stat.stat | translateName:"en-US":"en" | async}}: {{stat.base_stat}}</div>
          </div>
        </div>
      </div>
      <div id="moves" class="data d-flex flex-column p-0 overflow-hidden">
        <div class="header p-2"><h4>Mosse</h4></div>
        <div class="list d-flex flex-column ps-2 pt-5 overflow-auto">
          <div *ngFor="let move of pokemon.moves" class="item">
            <div>{{move.move | translateName:"en-US":"en" | async}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>