<div class="container overflow-auto">
  <h4>Joke piaciuti</h4>
  <div *ngFor="let joke of jokes; let i = index">
    <div class="d-inline-flex overflow-visible joke-item">
      <div class="joke-counter d-flex text-center justify-content-center rounded-circle bg-white border-0">{{i + 1}}</div>
      <div class="joke-text">
        <app-single-joke [joke]="joke"></app-single-joke>
      </div>
    </div>
    <div class="d-flex justify-content-center p-2">
      <app-dislike-button [joke]="joke"></app-dislike-button>
    </div>
    <hr *ngIf="i < jokes.length - 1">
  </div>
</div>