div.container {
  padding: 0;
  background-color: var(--wild-bk-color);
  border-radius: 5%;
}

div.list {
  height: 85%;
}

div.item {
  height: 20%;
}

div.data {
  height: 75%;
  background: rgb(166, 207, 253);
  cursor: pointer;
}

div.item-filler {
  height: 25%;
}

div.poke-type {
  height: 2em;
  font-size: 0.6em;
}

div.poke-type-filler {
  width: 0.2em;
}

div.poke-type-normal {
  background-color: var(--type-normal-bk-color);
}

div.poke-type-fighting {
  background-color: var(--type-fighting-bk-color);
}

div.poke-type-flying {
  background: var(--type-flying-bk-color);
}

div.poke-type-poison {
  background-color: var(--type-poison-bk-color);
  color: var(--type-poison-color);
}

div.poke-type-ground {
  background-color: var(--type-ground-bk-color);
}

div.poke-type-rock {
  background: var(--type-rock-bk-color);
  color: var(--type-rock-color);
}

div.poke-type-bug {
  background-color: var(--type-bug-bk-color);
  color: var(--type-bug-color);
}

div.poke-type-ghost {
  background-color: var(--type-ghost-bk-color);
}

div.poke-type-steel {
  background-color: var(--type-steel-bk-color);
}

div.poke-type-fire {
  background: var(--type-fire-bk-color);
}

div.poke-type-water {
  background-color: var(--type-water-bk-color);
}

div.poke-type-grass {
  background-color: var(--type-grass-bk-color);
}

div.poke-type-electric {
  background-color: var(--type-electric-bk-color);
}

div.poke-type-psychic {
  background-color: var(--type-psychic-bk-color);
}

div.poke-type-ice {
  background-color: var(--type-ice-bk-color);
  color: var(--type-ice-color);
}

div.poke-type-dragon {
  background: var(--type-dragon-bk-color);
}

div.poke-type-dark {
  background-color: var(--type-dark-bk-color);
  color: var(--type-dark-color);
}

div.poke-type-fairy {
  background-color: var(--type-fairy-bk-color);
}

div.poke-type-unknown {
  color: var(--type-unknown-color);
}

div.poke-type-shadow {
  background-color: var(--type-shadow-bk-color);
}