div.container {
  background-color: red;
  border-radius: 20px;
  height: 40vh;
}

.container h4 {
  margin-left: 10%;
}

.joke-item {
  min-height: 3.2em;
}

.joke-counter {
  width: 4%;
  align-items: center;
}

.joke-text {
  width: 90%;
}

div.btn-separator {
  width: 2%;
}